<nav class="main-menu">
    <ul>
        <li>
            <a href="/">
                <i class="fa fa-solid fa-book"></i>
                <span class="nav-text">
                    Livros
                </span>
            </a>  
        </li>

        <li>
            <a href="/purchases">
                <i class="fa fa-solid fa-suitcase"></i>
                <span class="nav-text">
                    Minhas Compras
                </span>
            </a>
        </li>

        <li>
            <a href="/points">
                <i class="fa fa-table fa-2x"></i>
                <span class="nav-text">
                    Tabela de descontos
                </span>
            </a>
        </li>

        <li>
            <a href="/about">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">
                    Acerca
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a (click)="logout()" href="/">
                    <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav>


