<nav class="main-menu">
    <ul>
        <li>
            <a href="/">
                <i class="fa fa-solid fa-book"></i>
                <span class="nav-text">
                    Livros
                </span>
            </a>  
        </li>

        <li>
            <a href="/">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                <span class="nav-text">
                    Estatísticas
                </span>
            </a>
        </li>

        <li>
            <a href="/">
                <i class="fa fa-table fa-2x"></i>
                <span class="nav-text">
                    Tabelas
                </span>
            </a>
        </li>

        <li>
            <a href="/">
                <i class="fa fa-info fa-2x"></i>
                <span class="nav-text">
                    Acerca
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout">
        <li>
            <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav>


