<!DOCTYPE html>
<html>

  <%- include("../static/layout.ejs") %>
  
  <h1 class="text-center">Funcionários</h1>
  <br>

  <input onclick ="location.href='/employees/create'" type="button" value="Registar Funcionário" class="btn btn-success"/>  

  <%- include("../static/footer.ejs") %>

</html>