<!DOCTYPE html>
<html>

  <%- include("../static/layout.ejs") %>
  
  <h1>Funcionários</h1>
  <br>

  <form action="/employees/create" method="GET">  
    <input type="submit" value="Registar Funcionário" class="btn btn-success"/>  
  </form>

  <%- include("../static/footer.ejs") %>

</html>