<!DOCTYPE html>
<html>
  <%- include("../static/layout.ejs") %>
  <h1 class="text-center">Livros</h1>
  <div class="tableMargins">
    <button type="button" class="btn btn-secondary float-end" onclick="location.href=window.location.href+'/create'">Criar Livro</button>
    <table class="table table-dark table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Autor</th>
        <th scope="col">Edição</th>
        <th scope="col">Editor</th>
        <th scope="col">Linguagem</th>
        <th scope="col">Paginas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
      </tr>
    </tbody>
  </table>
</div>
<%- include("../static/footer.ejs") %>
</html>
