<!DOCTYPE html>
<html>
  <%- include("static/layout.ejs") %>
  <h1 class="text-center">Dashboard</h1>
  <div class="row g-3 dashboardContainer">
    <div class="col-md-2 offset-md-4 border dashboardButton text-center" onclick="location.href=window.location.href+'customers'"><i class="fa-solid fa-user fa-5x dashboardIcons"></i><div><strong>Clientes</strong></div></div>
    <div class="col-md-2 border dashboardButton text-center" onclick="location.href=window.location.href+'purchases'"><i class="fa-solid fa-cart-shopping fa-5x dashboardIcons"></i><div><strong>Histórico de Compras</strong></div></div>
  
    <div class="col-md-2 offset-md-4 border dashboardButton text-center" onclick="location.href=window.location.href+'books'"><i class="fa-solid fa-book fa-5x dashboardIcons"></i><div><strong>Livros</strong></div></div>
    <div class="col-md-2 border dashboardButton text-center" onclick="location.href=window.location.href+'employees'"><i class="fa-solid fa-user-tie fa-5x dashboardIcons"></i><div><strong>Funcionários</strong></div></div>
  </div>

<%- include("static/footer.ejs") %>
</html>
