<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/LoginFormStyle.css' />
    <title>Login</title>
  </head>
  <body class="simpleBG">
    <div class="centerDiv">
      <div class="title">Login</div>
      <form id="Form1" method="post">
        <div class="Input c1">
          <input type="text" id="TextBoxUser" placeholder="Username" />
        </div>
        <div class="Input c2">
          <input type="password" id="TextBoxPassword" placeholder="Password" />
        </div>
        <input type="submit" id="btnSubmit" class="submit" value="Submit"/>
      </form>
    </div>
  </body>
</html>
