#bodyContainer {
    border: 0px solid red;
    background-color: #ffffff;
    max-width: 75%;
    min-height: 100vh;
    margin-top: 3.6em;
    padding: 2em 8em 5em 8em;
}

.bookCover {
    width: 300px;
    height: 440px;
    margin-top: 1em;
}