.centerDiv {
    border: 10%;
    width: 40%;
    height: 70%;
    border-radius: 2em;
    padding: 3%;
    background-color: #15172b;
    color: white;
    margin-top: 7%;
    text-align: center;
  }
  
  .Input > input[type="text"], input[type="password"] {
    background-color: #303245;
    border-radius: .5em;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    outline: 0;
    padding: 2%;
    width: 50%;
    height: 5%;
  }
  
  .c1 {
    margin-top: 5%;
  }
  
  .c2 {
    margin-top: 3%;
  }
  
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 500;
    margin-top: 2%;
    text-align: center;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-top: 7%;
    text-align: center;
  }
  
  .submit{
    margin-top: 5%;
    width: 50%;
    height: 3em;
    background-color: #08d;
    border-radius: .5em;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    
  }
  
  .simpleBG {
    align-items: center;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    height: 100%;
  }
  