.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  
}

.divBook {
  border: 1px solid black;
  min-height: 300px;
  display: grid;
  justify-content: center;
  padding: 1em .5em 1em 0em;

}

.bookCover {
    width: 150px;
    height: 220px;
    margin-left: 1em;
}