.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  
}

.divBook {
  border: 1px solid black;
  min-height: 300px;
  cursor: pointer;
}

.bookCover {
    width: 150px;
    height: 220px;
    margin-top: 1em;
}