.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 5px;
  
}

.divBook {
  min-height: 325px;
  cursor: pointer;
  position: relative;
}

.divPrice{
  position: absolute;
  right: 0;
  left:0;
  bottom: 0;

}

.bookCover {
    width: 150px;
    height: 220px;
}

#bodyContainer {
  border: 0px solid white;
  background-color: #ffffff;
  min-width: 80%;
  height: 100vh;
  margin-top: 3.6em;
  padding: 2em 8em 5em 8em;
}