<div class="simpleBG">
    <div class="centerDiv">
        <form>
            <div class="title">Login</div>
            <div class="Input c1">
                <input type="text" id="email" name="email" [(ngModel)]="email" placeholder="Email" required/>
            </div>
            <div class="Input c2">
                <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Palavra-passe" required/>
            </div>
            <input type="button" id="btnSubmit" class="submit" (click)="login()" value="Entrar" />
        </form>

    <a href="" class="register">Não tem conta? Registe-se já!</a>
    </div>
  </div>
  