<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/all.css' />
    <script type="text/js" src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/all.js"></script>
</head>