<%- include('header.ejs')%>
<body id="bodyLayout"  style="background-image: url('https://www.engenhariaradio.pt/wp-content/uploads/2021/02/alfons-morales-ylswjsy7stw-unsplash-770x452.jpg');">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #15172b;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><i class="fa-solid fa-shop"></i> Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a id="navCustomers" class="nav-link textNavbar" aria-current="page" href="/customers">Clientes</a>
              </li>
              <li class="nav-item">
                <a id="navPurchases" class="nav-link textNavbar" aria-current="page" href="/purchases">Histórico de Compras</a>
              </li>
              <li class="nav-item">
                <a id="navBooks" class="nav-link textNavbar" href="/books">Livros</a>
              </li>
              <li class="nav-item">
                <a id="navEmployees" class="nav-link textNavbar" href="/employees">Funcionários</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container" id="bodyContainer">

        <% if(typeof success != 'undefined') { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert" id="alertMessage">
          <%- success %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="closeAlert()"></button>
        </div><% } %>

        <% if(typeof error != 'undefined') { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alertMessage">
          <%- error %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="closeAlert()"></button>
        </div><% } %>
        

