<%- include('header.ejs')%>
<body id="bodyLayout">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #15172b;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a id="navClients" class="nav-link textNavbar" aria-current="page" href="/customers">Clientes</a>
              </li>
              <li class="nav-item">
                <a id="navBooks" class="nav-link textNavbar" href="/books">Livros</a>
              </li>
              <li class="nav-item">
                <a id="navEmployees" class="nav-link textNavbar" href="/employees">Funcionários</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container" id="bodyContainer">
        

